body {
  background-color: #9fa4c4;
  background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
  color: #ffffff;
  font-size: 1.3vw;
  font-family: calibri;
  margin: 0;
  padding: 0;
  width: 100vw !important;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
  padding: 5px;
}

.container-login {
  max-width: 90vw;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: flex-start;
}

h1 {
  color: #ffffff;
}

h1.edit-title {
  color: #59404f;
}

h1.login-title {
  text-align: center;
}

h2.edit-title {
  color: #59404f;
}

.success-msg {
  color: #59404f;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2vh;
}

.login-form {
  justify-content: center;
  margin-top: 5vh;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

.form-fields-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  margin-bottom: 2vh;
}

.field {
  display: flex;
}

.field-label {
  width: 22vw;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea,
select {
  padding: 0.8vw;
  border-radius: 0.4vw;
  border: 1px solid #ccc;
  background-color: #f7f9fb;
  color: #666;
  margin-bottom: 2vh;
  font-size: 1.1vw;
  width: 25vw;
}

input[type="email"].readonly-input,
input[type="number"].readonly-input {
  background-color: #f5ecf2;
}

select {
  width: 27vw;
}

input[type="submit"] {
  padding: 0.8vw;
  background-color: #59404f;
  color: #fff;
  border: none;
  border-radius: 0.4vw;
  cursor: pointer;
  width: 27vw;
  margin-top: 2vh;
  font-size: 1.3vw;
}

input.signup-btn {
  margin-left: 22vw;
}

input[type="submit"]:hover {
  background-color: #755468;
}

*:focus {
  outline: none;
}

.signup-img {
  width: 30vw;
  margin-top: 5vh;
}

.login-img {
  width: 20vw;
  margin-top: 10vh;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.2;
}

.profile-btn {
  margin-top: 2vh;
}
.profile-btn a {
  padding: 0.6vw 1.2vw;
  text-align: center;
  background-color: #ffffff;
  color: #59404f;
  font-size: 1.3vw;
  border: none;
  border-radius: 0.4vw;
  cursor: pointer;
  width: 4.5vw;
  text-decoration: none;
}

.profile-btn:hover,
.profile-btn a:hover {
  background-color: #f3eded;
}

.top-btn1 a,
.top-btn2 a,
.top-btn3 a {
  padding: 0.6vw 1.5vw;
  margin-top: 1vh;
  text-align: center;
  position: absolute;
  right: 12vw;
  background-color: #59404f;
  color: #ffffff;
  font-size: 1.3vw;
  border: none;
  border-radius: 0.4vw;
  cursor: pointer;
  width: 5vw;
  text-decoration: none;
}

.top-btn2 a {
  right: 3vw;
}

.top-btn3 a {
  right: 21vw;
}

.top-btn1 a:hover,
.top-btn2 a:hover,
.top-btn3 a:hover {
  background-color: #755468;
}

.user-block {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.user-card {
  height: 22vh;
  width: 20vw;
  background-color: #59404f;
  color: #ffffff;
  border-radius: 0.4vw;
  font-size: 1.3vw;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

tr:nth-child(odd) {
  background-color: #f5ecf2;
}

td {
  padding: 1vw;
}

.tb-title {
  width: 20vw;
}
