<!DOCTYPE html>
<html>
  <head>
    <title>View Profile</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

  </head>
  <body style="background: #ffffff; color: #59404f">
    <div class="container">
      <div class="top-btn3">
        <a href="/">Home</a>
      </div>
      <div class="top-btn1">
        <a href="/login">Login</a>
      </div>
      <div class="top-btn2">
        <a href="/signup">Sign Up</a>
      </div>
      <h1 class="edit-title">{{ user.name }}</h1>
      <div class="container-section">
        <table>
          <tr>
              <td class="tb-title">Registration Number:</td>
              <td>{{ user.reg_number }}</td>
          </tr>
          <tr>
              <td class="tb-title">Email:</td>
              <td>{{ user.email }}</td>
          </tr>
          <tr>
              <td class="tb-title">Name:</td>
              <td>{{ user.name }}</td>
          </tr>
          <tr>
              <td class="tb-title">Contact:</td>
              <td>{{ user.contact }}</td>
          </tr>
          <tr>
              <td class="tb-title">Degree Program:</td>
              <td>{{ user.degree_program }}</td>
          </tr>
          <tr>
              <td class="tb-title">GPA:</td>
              <td>{{ user.gpa }}</td>
          </tr>
          <tr>
              <td class="tb-title">Skills:</td>
              <td>{{ user.skills }}</td>
          </tr>
          <tr>
              <td class="tb-title">Introduction:</td>
              <td>{{ user.introduction }}</td>
          </tr>
        </table>
        
      </div>
    </div>

  </body>
</html>
