<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="top-btn1">
        <a href="/">Home</a>
      </div>

      <div class="top-btn2">
        <a href="/login">Login</a>
      </div>

      <h1>Sign Up</h1>

      <div class="container-section">
        <div>
          <form action="/signup-action" method="post"  enctype="multipart/form-data">
            <div class="form-fields">
              <div class="field">
                <div class="field-label">
                  <label for="reg_number">Registration Number:</label>
                </div>
                <div>
                  <input
                    class="readonly-input"
                    type="number"
                    min="1000"
                    max="9999"
                    id="reg_number"
                    name="reg_number"
                    value="{{reg_no}}"
                    readonly
                  />
                </div>
              </div>

              <div class="field">
                <div class="field-label">
                  <label for="name">Full Name:</label>
                </div>
                <div>
                  <input type="text" id="name" name="name" required />
                </div>
              </div>

              <div class="field">
                <div class="field-label">
                  <label for="email">Email:</label>
                </div>
                <div>
                  <input type="email" id="email" name="email" required />
                </div>
              </div>
              
               <div class="field">
                <div class="field-label">
                  <label for="image">Upload Image:</label>
                </div>
                <div>
                  <input type="file" id="image"  name="image" required />
                </div>
              </div>

              <div class="field">
                <div class="field-label">
                  <label for="password">Password:</label>
                </div>
                <div>
                  <input
                    type="password"
                    id="password"
                    name="password"
                    required
                  />
                </div>
              </div>

              <div class="field">
                <div class="field-label">
                  <label for="contact_no">Contact No:</label>
                </div>
                <div>
                  <input type="text" id="contact" name="contact" required />
                </div>
              </div>

              <div class="field">
                <div class="field-label">
                  <label for="degree_program">Degree Program:</label>
                </div>
                <div>
                  <select id="degree_program" name="degree_program" required>
                    <option value="BSC Computer Science and Engineering">
                      BSC Computer Science and Engineering
                    </option>
                    <option value="BSC Mechanical Engineering">
                      BSC Mechanical Engineering
                    </option>
                    <option value="BSC Civil Engineering">
                      BSC Civil Engineering
                    </option>
                    <option value="BSC Electrical Engineering">
                      BSC Electrical Engineering
                    </option>
                  </select>
                </div>
              </div>

              <div class="field">
                <div class="field-label">
                  <label for="gpa">Current GPA:</label>
                </div>
                <div>
                  <input type="number" id="gpa" step="0.01" name="gpa" required />
                </div>
              </div>

              <div class="field">
                <div class="field-label">
                  <label for="skills">Skills:</label>
                </div>
                <div>
                  <textarea
                    id="skills"
                    name="skills"
                    rows="8"
                    required
                  ></textarea>
                </div>
              </div>

              <div class="field">
                <div class="field-label">
                  <label for="introduction">Introduction:</label>
                </div>
                <div>
                  <textarea
                    id="introduction"
                    name="introduction"
                    rows="8"
                    required
                  ></textarea>
                </div>
              </div>
            </div>

            <div>
              <input class="signup-btn" type="submit" value="Sign Up" />
            </div>
          </form>
        </div>

        <div>
          <img
            class="signup-img"
            src="static/img/interview.png"
            alt="Interview"
          />
        </div>
      </div>
    </div>
  </body>
</html>
